// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for Freescale Layerscape-1043A family SoC.
 *
 * Copyright 2014-2015 Freescale Semiconductor, Inc.
 * Copyright 2018-2021 NXP
 *
 * Mingkai Hu <Mingkai.hu@freescale.com>
 */

/dts-v1/;
#include "fsl-ls1043a.dtsi"

/ {
	model = "Watchguard T40";
	compatible = "watchguard,t40", "fsl,ls1043a";

	aliases {
		gpio0 = &gpio1;
		gpio1 = &gpio2;
		gpio2 = &gpio3;
		gpio3 = &gpio4;
		serial0 = &duart0;
		spi0 = &qspi;
		spi1 = &dspi0;
		rtc0 = &rtc_i2c;
		ethernet0 = &enet2;
		ethernet1 = &enet0;
		ethernet2 = &enet1;
		ethernet3 = &enet4;
		ethernet4 = &enet5;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
	
	spi_gpio {
		compatible = "spi-gpio";
		#address-cells = <0x1>;
		ranges;

		sck-gpios = <&gpio1 27 0>;
		mosi-gpios = <&gpio1 28 0>;
		num-chipselects = <0>;
		
		gpio_exp: gpio_exp@0 {
		    compatible = "fairchild,74hc595";
		    reg = <0>;
		    gpio-controller;
		    #gpio-cells = <2>;
		    registers-number = <1>;
		    spi-max-frequency = <1000>;
		};
	};
	
	leds {
		compatible = "gpio-leds";
		
		led0 {
			label = "green:failover";
			gpios = <&gpio_exp 0 1>;
			default-state = "off";
		};
		led1 {
			label = "yellow:attention";
			gpios = <&gpio_exp 1 1>;
			default-state = "off";
		};
		led2 {
			label = "red:status";
			gpios = <&gpio_exp 2 1>;
			default-state = "off";
		};
		led3 {
			label = "green:mode";
			gpios = <&gpio_exp 3 1>;
			default-state = "off";
		};
	};
	
	gpio-keys {
		compatible = "gpio-keys";

		reset {
			label = "Reset Button";
			gpios = <&gpio4 12 1>;
		};
	};

&soc {
	/delete-property/ dma-coherent;
};

&duart0 {
	status = "okay";
};

&ifc {
	#address-cells = <2>;
	#size-cells = <1>;
	/* NOR, NAND Flashes and FPGA on board */
	ranges = <0x00 0x00 0x00 0x60000000 0x8000000
		  0x01 0x00 0x00 0x7e800000 0x10000
		  0x02 0x00 0x00 0x7fb00000 0x100>;
	status = "disabled";

	nor@0,0 {
		#address-cells = <0x01>;
		#size-cells = <0x01>;
		compatible = "cfi-flash";
		reg = <0x00 0x00 0x8000000>;
		bank-width = <0x02>;
		device-width = <0x01>;
	};
};

&i2c0 {
	status = "okay";
	
	tpm@29 {
		compatible = "atmel,at97sc3204t";
		reg = <0x29>;
	};

	rtc_i2c: rtc@30 {
		compatible = "sii,s35390a";
		reg = <0x30>;
	};
	
	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};
};

&qspi {
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		spi-rx-bus-width = <0x04>;
		spi-tx-bus-width = <0x04>;
		spi-max-frequency = <50000000>;
		//#address-cells = <0x01>;
		//#size-cells = <0x01>;
		reg = <0x00>;
		
		partitions {
		        compatible = "fixed-partitions";
        		#address-cells = <1>;
        		#size-cells = <1>;
        		
			partition@0 {
				reg = <0x00 0x200000>;
				label = "NOR (RO) RCW + E-Hole + U-boot Image";
			};

			partition@200000 {
				reg = <0x200000 0x10000>;
				label = "NOR (RW) U-Boot ENV";
			};

			partition@210000 {
				reg = <0x210000 0x10000>;
				label = "NOR (RO) EMPTY Hole 1";
			};

			partition@220000 {
				reg = <0x220000 0x20000>;
				label = "NOR (RW) FMAN UCODE";
			};

			partition@240000 {
				reg = <0x240000 0x40000>;
				label = "NOR (RW) E-HOLE 2 or PPA";
			};

			partition@280000 {
				reg = <0x280000 0x20000>;
				label = "NOR (RW) WG CFG0";
			};

			partition@2a0000 {
				reg = <0x2a0000 0x20000>;
				label = "NOR (RW) WG CFG1";
			};

			partition@2c0000 {
				reg = <0x2c0000 0x20000>;
				label = "NOR (RW) WG MFG";
			};

			partition@2e0000 {
				reg = <0x2e0000 0x20000>;
				label = "NOR (RW) E-HOLE 3";
			};

			partition@300000 {
				reg = <0x300000 0x20000>;
				label = "NOR (RW) FMAN UCODE Old";
			};

			partition@320000 {
				reg = <0x320000 0xe0000>;
				label = "NOR (RW) WG bootOpt Data & reserved";
			};
		};
	};
};

&usb0 {
	status = "okay";
	/delete-property/ dma-coherent;
};

&usb1 {
	status = "okay";
	/delete-property/ dma-coherent;
};


&sata {
	status = "okay";
};

#include "fsl-ls1043-post.dtsi"

&enet0 {
	phy-handle = <&qsgmii_phy1>;
	phy-connection-type = "qsgmii";
};

&enet1 {
	phy-handle = <&qsgmii_phy2>;
	phy-connection-type = "qsgmii";
};

&enet2 {
	phy-handle = <&rgmii_phy1>;
	phy-connection-type = "rgmii-id";
};

&enet4 {
	phy-handle = <&qsgmii_phy3>;
	phy-connection-type = "qsgmii";
};

&enet5 {
	phy-handle = <&qsgmii_phy4>;
	phy-connection-type = "qsgmii";
};

&fman0 {

	mdio@fc000 {
		qsgmii_phy1: ethernet-phy@4 {
			reset-gpios = <&gpio2 11 1>;
			reg = <0x4>;
		};

		qsgmii_phy2: ethernet-phy@5 {
			reset-gpios = <&gpio2 11 1>;
			reg = <0x5>;
		};

		qsgmii_phy3: ethernet-phy@6 {
			reset-gpios = <&gpio2 11 1>;
			reg = <0x6>;
		};

		qsgmii_phy4: ethernet-phy@7 {
			reset-gpios = <&gpio2 11 1>;
			reg = <0x7>;
		};
	};
	
	mdio@fd000 {
		rgmii_phy1: ethernet-phy@1 {
			reset-gpios = <&gpio2 12 1>;
			reg = <0x1>;
		};
	};

};

